@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #6b7280 #1f2937; /* thumb color and track color */
  }

  .scrollbar-thumb-rounded {
    scrollbar-thumb: rounded;
  }

  .scrollbar-thumb {
    scrollbar-thumb-color: #6b7280;
  }

  .scrollbar-track {
    scrollbar-track-color: #1f2937;
  }
}


/* for charts */
.tick {
  font-size: 1rem;
}
.label {
  text-anchor: middle;
  font-size: 1.7em;
  fill: #635F5D;
}
.y-axis-label-transform {
  transform: translate(50px, 100%) rotate(-90deg);
}